<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.tud.eclipse_achievements.ui"
            name="Eclipse Achievements">
      </category>
      <view
            category="de.tud.eclipse_achievements.ui"
            class="de.tud.eclipse_achievements.ui.view.AchievementView"
            icon="icons/sample.gif"
            id="de.tud.eclipse_achievements.ui.view.AchievementView"
            name="AchievementView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      </perspectiveExtension>
   </extension>

</plugin>
